body{
    background-color: white;
    margin:0px;
    padding: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   

}
#navbar{
    margin: 0px;
    padding: 0px;                                                                                                                                                                                                                                                                                   
    color: black;
    background-color: lightgrey;
}
.linha{
    padding: 20px;
    background: repeating-linear-gradient(45deg,
  #fffb00,
  #fbff00 10px,
  #ffee00 10px,
  #eecc0a 20px
    );
}
.barra{
    background-color: lightgrey;
    padding: 20px;
    margin: 0px;
}
.section{
    background-color: lightgrey;
    padding: 215px;
    margin: 5px ; 
    padding-bottom: 150px;

}
.flex{
    display: flex;
}
.ex{
    background-color: lightgray;
    padding-right: 1468px;
    margin: 5px ; 
   

}
